

.glyphicon-asterisk-after:after {
  content: "\2a";
 
    color: #ff0000;
}


.required:after{
    font-family: "FontAwesome";
    content: "\f069";
    font-size: 8px;
    top: -1em;
    position: relative;
    left: 0.5em;
    color: #ff0000;
}

.tt-menu,
.gist {
    text-align: left;
}

/* base styles */
/* ----------- */

html {
    font: normal normal normal 18px/1.2 "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    color: #292f33;
}


a {
    color: #03739c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.table-of-contents li {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.table-of-contents li a {
    font-size: 16px;
    color: #999;
}

p + p {
    margin: 30px 0 0 0;
}

/* site theme */
/* ---------- */

.title {
    margin: 20px 0 0 0;
    font-size: 64px;
}

.example {
    padding: 30px 0;
}

.example-name {
    margin: 20px 0;
    font-size: 32px;
}

.demo {
    position: relative;
    *z-index: 1;
    margin: 50px 0;
}



.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {
    width: 422px;
    margin: 12px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.gist {
    font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
    padding: 5px 10px;
    text-align: center;
}

#multiple-datasets .league-name {
    margin: 0 20px 5px 20px;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-menu {
    max-height: 150px;
    overflow-y: auto;
}

#rtl-support .tt-menu {
    text-align: right;
}




.container{width:100%;}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top30 { margin-top:30px; }

.bottom20{ margin-bottom:20px; }

.red{color:red;  cursor: pointer;}

.detail-cell {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    margin-top: 10px;
}
.detail-cell.second {
    width:100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    margin-top: 0;
    padding:10px 0;
    float: left;
}
.detail-cell.second .datalist{margin-top:10px}
.detail-cell-label {
    font-weight: 700;
}

.heading { 
    color: #9e9ea7;
    font-size: 24px; 
}

.ui-autocomplete span.hl_results {
    background-color: #ffff66;
}


.left10{ margin-left:10px;}


.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.report-body select { width: 100% }
input[data-field="sales_price"]::-webkit-outer-spin-button,
input[data-field="sales_price"]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[data-field="current_list_price"]::-webkit-outer-spin-button,
input[data-field="current_list_price"]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.form-control-custom{
   size:35px !important; 
   display: block;
    /* width: 100%; */
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}