body{
}
.contex-menu {
    z-index:1000;
    position: absolute;
    padding: 2px;
}
#header-fixed{
    z-index:999;

}
/*#header-fixed .hot, #header-fixed .header-row{*/
#header-fixed .hot{
    display:none;
}

tr.header-row td .text-label, td.transaction-label .text-label {
    text-align:left;
}
tr.header-row td .text-label, .columnLabel, td.transaction-label .text-label {
    color: #000000;
}
.columnLabel{
    font-weight:bold;
}

#column-fixed{
    z-index:998;
    position: fixed;
}
#column-fixed .hot-column{
    display:none;
}
#column-header-fixed{
    z-index:999;
    position: fixed;
}
#column-header-fixed .hot-column{
    display:none;
}
#column-header-fixed .hot{
    display:none;
}

.sheet-grid{
    table-layout:fixed;
    white-space: nowrap;
    border: 0px;
    border-top: 1px solid #d9d9d9;
    white-space: nowrap;
}
.sheet-grid thead tr th, .sheet-grid tbody tr th{
    overflow:hidden;
    padding: 0px;
    border: 0px;
    border-bottom: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*    padding-top: 10px;
        padding-bottom: 10px;*/
}
.sheet-grid tbody tr td{
    overflow:hidden;
    padding: 0px;
    border: none;
    border-bottom: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sheet-grid .parent-active {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border: 1px solid blue !important;
    padding-left: 1px !important;
}
.sheet-grid .form-control[readonly]{
    background-color:inherit;
}
.twitter-typeahead {
    width: 100%;
    height: 100%;
}
.header-fixed {
    position: fixed;
    top: 0px;
    background-color:white;
}

.savingspinner {
    background:
    url('spinner.gif')
    no-repeat
    center center;
    background-size: 40px 40px;
    width:22px;
    height:22px;
    position:relative;
    display:inline-block;
}

.label-no-input{
    font-weight: bold;
}

#header-fixed {
    position: fixed;
    top: 0px;
    display:none;
    background-color:white;
}

.sheet-grid input[type="text"], .sheet-grid input[type="date"], .sheet-grid input[type="number"], .sheet-grid select, .sheet-grid .text-label {

    display: block;
    margin: 0;
    font-family: sans-serif;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border:0px;
    padding-left:2px;
    width:100%;
    box-sizing:border-box;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 7px;
    text-align: center;

}

.form-control {
    color: #000000 !important;
}
.transaction-label {
    text-align:center;
}

.sheet-grid input[type="text"]:focus {
    outline: none;
}
.header-cell{
    position:relative;
    overflow: visible !important;
}
.header-row{
    position:relative;
}
.input-group{
    position:relative;
}
.frozen-column {
//position:absolute;
}
.sheet-grid tr td{
}

.sheet-grid .sheet-grid input[type='checkbox']{
    width:100%;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
    width: 0; /* otherwise Chrome will not increase table size */
}

tr.last td {
    border-bottom: 1px solid black;
}

th {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
}

th.last {
    border-right: none;
}

th, td {
    padding: 2px 5px;
    text-align: left;
    overflow: hidden;
}

/*
resizable columns
*/
.scrollContainer {
    height: 100%;

}
.sheet-grid .input-group{
    text-align:center;
    width: 100%;
}
.sheet-grid .input-group-addon{
    border-radius:0px;
    padding:0px;
    background-color:inherit;
    border:0px;
    font-size:inherit;
}

.sheet-grid .form-control{
    height:22px;
    padding:0px 1px 0px 1px;
    border:0px;
    box-shadow: none;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    border-top-right-radius:0;
    border-top-left-radius:0;
}

.sheet-grid tr td:first-child,.sheet-grid tr th:first-child {
    border-left:1px solid #d9d9d9;
}
.sheet-grid .form-control:focus{
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
}

.resizeHelper,.ui-resizable-e {
    cursor: e-resize;
    width: 10px;
    height: 100%;
    top: 0;
    right: -8px;
    position: absolute;
    z-index: 100;
    font-size: 100%;
}

/* handle for FF */
@-moz-document url-prefix() {
    .resizeHelper,.ui-resizable-e {
        position: relative;
        float: right;
    }
}

.column-hidden {
    display:none;
}

.sheet-grid{
    font-size:12px;
}
.sheet-grid .form-control{
    font-size:12px;
}

.transaction-label, th {
    background-color: #d9edf7 !important;
    font-weight:400 !important;
    font-size:13px !important;
    padding-left:2px !important;
    color: #31708f;
    /*text-align: center;*/

}
.header-cell, .header-cell .form-control{
    background-color: #f5f5f5 !important;
}
.childrow {
    padding-left:20px !important;
}
.tooltip-info{
    padding-right: 5px;
    padding-bottom: 2px;
}

.colHeaders {
    height: 30px;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
select::-ms-expand {
    display: none;
}
.placeholder{
  text-align:center;
}
